# It is recommended to install PyTorch manually.
# See instructions at https://pytorch.org/get-started/locally/

click
colorednoise
dask
einops>=0.7.0
fugashi>=1.3,<2
h5py
librosa>=0.10.0
lightning
loguru
matplotlib
numba
numpy
omegaconf
onnx
onnxscript
onnxslim
praat-parselmouth
pydantic>=2.11,<3.0
resampy
scipy>=1.10.0
sympy
tensorboard
tensorboardX
textgrid
torchmetrics
tqdm
# Full Japanese dictionary data requires a separate download: python -m unidic download
unidic>=1.1,<2
